
<% content_for :head do %>
	
	<title>About :: RBlog</title>
	
<% end %>

<% content_for :body do %>
	
	<%= content_tag(:div, :id => 'rblog_right_column') do %>
    	
       	<%= content_tag(:div, :id => 'rblog_main') do %>
    		
            <%= content_tag(:h2, 'About RBlog') %>
            <%= content_tag(:div, nil, :class => 'cleaner_h20') %>
	       	
	       	<%= content_tag(:p, :align => 'justify') do %>
	       		
	       		<%= 'This is a blog. It was developed by ' %>
	       		<%= content_tag(:strong, 'Ravikanth,') %>
	       		<%= 'bearing registration number' %>
	       		<%= content_tag(:strong, '11301431.') %>
	       		<%= 'I am pursuing B.Tech from ' %>
	       		<%= content_tag(:strong, 'Lovely Professional University.') %>
	       		
	       	<% end %>
            
            <%= content_tag(:div, nil, :class => 'cleaner_h20') %>
	       	
            <%= content_tag(:p, :align => 'justify') do %>
	       		
	       		<%= 'This is my ' %>
	       		<%= content_tag(:strong, 'Ruby on Rails Project,') %>
	       		<%= 'which I have developed while my' %>
	       		<%= content_tag(:strong, 'Summer training') %>
	       		<%= 'on' %>
	       		<%= content_tag(:strong, 'Ruby on Rails') %>
	       		<%= 'by' %>
	       		<%= content_tag(:strong, 'Certination.') %>
	       		
	       	<% end %>
            
            <%= content_tag(:div, nil, :class => 'cleaner_h30') %>
	       	
        <% end %>
		
  	<% end %>
	
<% end %>
