<% content_for :head do %>
	
	<title>Contact :: RBlog</title>
	
<% end %>

<% content_for :body do %>
	
	<%= content_tag(:div, :id => 'rblog_right_column') do %>
    	
       	<%= content_tag(:div, :id => 'rblog_main') do %>
        	
        	<%= content_tag(:div, :class => 'post_section post_section_form') do %>
            	
                <%= content_tag(:h2, 'Contact Form') %>
                
                <%= form_for(:contact, :url => {:controller => 'posts', :action => 'send_contact_form'}, :method => 'post') do |form| %>
                	
                	<%= form.text_field(:email_address, :placeholder => "someone@example.com", :type => 'email', :required => true) %>
        			<%= form.text_area(:message, :placeholder => "Message", :required => true) %>
        			<%= content_tag(:div, nil, :class => 'cleaner_h10') %>
	        		<%= form.submit(:class => "submit", :type => 'submit', :value => 'Submit') %>
        			<%= form.submit(:class => "reset", :type => 'reset', :value => 'Reset') %>
        			
        		<% end %>
    			
	        <% end %>
	       	
        <% end %>
		
  	<% end %>
	
<% end %>
