<% content_for :head do %>
	
	<title> <%= getUsername(session[:userId]) %> Posts :: RBlog</title>
	
<% end %>

<% content_for :body do %>
	
	<%= content_tag(:div, :id => 'rblog_right_column') do %>
    	
       	<%= content_tag(:div, :id => 'rblog_main', :class => 'links') do %>
    		
	    	<%= content_tag(:h2, [getUsername(session[:userId]), 'Posts'].join(' ')) %>
	    	<%= content_tag(:div, content_tag(:ul, render(:partial => 'post_user', :collection => @posts, :as => :post) || content_tag(:h3, 'No posts to display. Create any posts to view.'), :class => 'rblog_user_posts'), :id => 'gallery') %>
	        	
        <% end %>
		
  	<% end %>
	
<% end %>

