
<% content_for :head do %>	
	
	<title> <%= ((@currentPage == 'new_post') ? 'NewPost' : 'EditPost') %> :: RBlog</title>
	
<% end %>

<% content_for :body do %>
	
	<%= content_tag(:div, :id => 'rblog_right_column') do %>
    	
       	<%= content_tag(:div, :id => 'rblog_main') do %>
        	
        	<%= content_tag(:div, :class => 'post_section post_section_form') do %>
            	
                <%= content_tag(:h2, ((@currentPage == 'new_post') ? 'New Post' : 'Edit Post')) %>
                <%= content_tag(:ul, render(:partial => 'layouts/rblog_error_messages', :collection => (@post ? @post.errors.full_messages : nil), :as => :errorMessage), :class => 'error_messages') %>
				
        		<%= form_for(:blog_post, :method => :post, :url => ((@currentPage == 'new_post') ? {:controller => 'posts', :action => 'create', :user => getUsername(session[:userId])} : {:controller => 'posts', :action => 'update', :user => @post.account.username, :postId => @post.id})) do |form| %>
        			
        			<%= form.text_field(:account_id, :placeholder => "Account Id", :type => 'number', :hidden => true, :value => (@post ? @post.account_id : session[:userId].to_i)) %>
        			<%= form.text_field(:post_title, :placeholder => "Post Title", :autocomplete => 'off', :value => (@post ? @post.post_title : '')) %>
        			<%= form.text_area(:post_message, :placeholder => "Post Message", :value => (@post ? @post.post_message : '')) %>
        			<%= content_tag(:div, nil, :class => 'cleaner_h10') %>
	        		<%= form.submit(:class => "submit", :value => ((@currentPage == 'new_post') ? 'Post' : 'Update')) %>
        			
        		<% end %>
    			
	        <% end %>
	       	
        <% end %>
		
  	<% end %>
	
<% end %>
