
<% content_for :head do %>	
	
	<title><%= @post.post_title %> :: RBlog</title>
	
<% end %>

<% content_for :body do %>
	
    <%= content_tag(:div, :id => 'rblog_right_column') do %>
        
        <%= content_tag(:div, :id => 'rblog_main') do %>
        
            <%= content_tag(:div, :class => 'post_section') do %>
            	
                <%= content_tag(:h2, @post.post_title) %>
    			
        		<%= content_tag(:p) do %>
        			
        			<%= content_tag(:strong, 'Author:') %> 
        			<%= @post.account.username %> 
        			<%= content_tag(:strong, '|') %> 
        			<%= @post.updated_at.to_datetime.strftime("%B %d, %Y at %I:%M %p") %>
                	
                <% end %>
              	
              	<%= content_tag(:p, simple_format(@post.post_message)) %>
              	
		  	<% end %>
            
            <%= content_tag(:div, link_to('Comments', '#', :class => 'toggle_comments'), :class => 'comment_tab link_my_posts links') %>
      		<%= content_tag(:div, :class => 'section_comments', :hidden => true) do %>
      		    
      		    <%= content_tag(:div, content_tag(:ol, render(@post.comments), :class => 'comments', :id => 'new_comment'), :class => 'comment_section') %>
            	<%= render('comments/comment_form', :post => @post) if session[:userId] %>
            	
            <% end %>
            
		<% end %>
  		
  	<% end %>
	
<% end %>
