<% content_for :head do %>
	
	<title>Change Password :: RBlog</title>
	
<% end %>

<% content_for :body do %>
	
	<div id="rblog_right_column">
    	
       	<div id="rblog_main">
        	
        	<div class="post_section post_section_form_login">
            
                <h2>Change Password</h2>
                
	        	<% if @user && @user.errors.any? %>
	        		
	        		<ul class="error_messages">
	        			
	        			<% @user.errors.full_messages.each do |error_message| %>
	        				
	        				<li> <%= error_message %> </li>
	        				
	        			<% end %>
	        			
	        		</ul>
	        		
	        	<% end %>
	        	
	        	<%= form_for(:account, :url => {:controller => 'account', :action => 'update_password', :userId => session[:userId]}, :method => 'post') do |form| %>
	        		
	        		<div class='input_container'> <%= form.password_field(:password_old, :placeholder => 'Password Old', :class => 'input_password_confirmation', :id => 'input_password') %> <%= link_to(image_tag('/assets/rblog_password_secure.png', :class=>'input_password_image', :id=>'input_password_image', :alt=>'secure'), {:controller => 'account', :action => 'login'}, :id => 'input_password_toggle', :tabindex => '-1', :onclick => "togglePasswordType(); return false;") %> </div>
	        		<div class='input_container'> <%= form.password_field(:password, :placeholder => 'Password', :class => 'input_password', :id => 'input_password') %> <%= link_to(image_tag('/assets/rblog_password_secure.png', :class=>'input_password_image', :id=>'input_password_image', :alt=>'secure'), {:controller => 'account', :action => 'login'}, :id => 'input_password_toggle', :tabindex => '-1', :onclick => "togglePasswordType(); return false;") %> </div>
	        		<%= form.password_field(:password_confirmation, :placeholder => 'Password Confirmation', :class => 'input_password_confirmation') %>
	        		
        			<div class="cleaner_h10"></div>
        			
	        		<%= form.submit("Update", :type => 'submit', :class => 'submit') %>
	        		
	        	<% end %>
	        	
    			<div class="cleaner_h10"></div>
    			
	        </div>
	        	
        </div> <!-- end of main -->
	
  	</div> <!-- end of right column -->

	    
<% end %>
