<% content_for :head do %>
	
	<title>Change Password :: RBlog</title>
	
<% end %>

<% content_for :body do %>
	
	<div id="rblog_right_column">
    	
       	<div id="rblog_main">
        	
        	<div class="post_section post_section_form_login">
            
                <h2>Change Password</h2>
                
                <%= render 'layouts/rblog_messages_error', :errorMessages => @user %>
                
	        	<%= form_for(:account, :url => {:controller => 'account', :action => 'update_password', :userId => session[:userId]}, :method => 'post') do |form| %>
	        		
	        		<div class='input_container'> <%= form.password_field(:password_old, :placeholder => 'Password Old', :class => 'input_password_confirmation input_password_old') %> <%= link_to(image_tag('/assets/rblog_password_secure.png', :class => 'input_password_image', :id=>'input_password_old', :alt=>'secure'), "#", :tabindex => '-1', :onclick => "return togglePassword('input_password_old')") %> </div>
	        		<div class='input_container'> <%= form.password_field(:password, :placeholder => 'Password', :class => 'input_password input_password_new') %> <%= link_to(image_tag('/assets/rblog_password_secure.png', :class => 'input_password_image', :id=>'input_password_new', :alt=>'secure'), "#", :tabindex => '-1', :onclick => "return togglePassword('input_password_new')") %> </div>
	        		<%= form.password_field(:password_confirmation, :placeholder => 'Password Confirmation', :class => 'input_password_confirmation') %>
	        		
        			<div class="cleaner_h10"></div>
        			
	        		<%= form.submit("Update", :type => 'submit', :class => 'submit') %>
	        		
	        	<% end %>
	        	
    			<div class="cleaner_h10"></div>
    			
	        </div>
	        	
        </div> <!-- end of main -->
	
  	</div> <!-- end of right column -->

	    
<% end %>
