
<% content_for :head do %>
	
	<title>Forgot Password :: RBlog</title>
	
<% end %>

<% content_for :body do %>
	
	<%= content_tag(:div, :id => 'rblog_right_column') do %>
    	
       	<%= content_tag(:div, :id => 'rblog_main') do %>
        	
        	<%= content_tag(:div, :class => 'post_section post_section_form_login') do %>
            	
                <%= content_tag(:h2, 'Forgot Password') %>
                <%= content_tag(:ul, render(:partial => 'layouts/rblog_error_messages', :collection => (@user ? @user.errors.full_messages : nil), :as => :errorMessage), :class => 'error_messages') %>
				
                <%= form_for(:account, :url => {:controller => 'account', :action => 'forgot_password_request'}, :method => 'post') do |form| %>
	        		
	        		<%= form.text_field(:email_address, :placeholder => 'someone@example.com', :type => 'email', :maxLength => 100, :required => true, :value => (@user ? @user.email_address : ''), :class => 'input_email_address') %>
	        		<%= content_tag(:div, nil, :class => 'cleaner_h10') %>
	    			<%= form.submit("Request Password Reset", :type => 'submit', :class => 'submit password_reset') %>
	        		
	        	<% end %>
    			
	        <% end %>
	       	
        <% end %>
		
  	<% end %>
	
<% end %>
