
<% content_for :head do %>
	
	<title>Password Reset Expired :: RBlog</title>
	
<% end %>

<% content_for :body do %>
	
	<%= content_tag(:div, :id => 'rblog_right_column') do %>
    	
       	<%= content_tag(:div, :id => 'rblog_main') do %>
    		
            <%= content_tag(:h2, 'Password Reset') %>
            <%= content_tag(:div, nil, :class => 'cleaner_h20') %>
	       	<%= content_tag(:p, 'This forgot password link has expired.', :align => 'justify') %>
	       	<%= content_tag(:div, nil, :class => 'cleaner_h30') %>
	       	
        <% end %>
		
  	<% end %>
	
<% end %>
