
<% content_for :head do %>
	
	<title>Password Reset :: RBlog</title>
	
<% end %>

<% content_for :body do %>
	
	<%= content_tag(:div, :id => 'rblog_right_column') do %>
    	
       	<%= content_tag(:div, :id => 'rblog_main') do %>
        	
        	<%= content_tag(:div, :class => 'post_section post_section_form_login') do %>
            	
                <%= content_tag(:h2, 'Password Reset') %>
                <%= content_tag(:ul, render(:partial => 'layouts/rblog_error_messages', :collection => (@user ? @user.errors.full_messages : nil), :as => :errorMessage), :class => 'error_messages') %>
				
	        	<%= form_for(:account, :url => {:controller => 'account', :action => 'password_reset_request', :token => @token}, :method => :post) do |form| %>
	        		
	        		<%= content_tag(:div, :class => 'input_container') do %>
	        			
	        			<%= form.password_field(:password, :placeholder => 'Password', :autocomplete => 'off', :maxLength => 30, :class => 'input_password') %>
	        			<%= link_to(image_tag('/assets/rblog_password_secure.png', :class=>'input_password_image'), "#", :tabindex => '-1', :class => 'toggle_password') %>
	        			
	        		<% end %>
	        		
	        		<%= form.password_field(:password_confirmation, :placeholder => 'Password Confirmation', :autocomplete => 'off', :class => 'input_password_confirmation') %>
	        		<%= form.text_field(:password_reset_token, :hidden => true, :value => nil) %>
	        		<%= content_tag(:div, nil, :class => 'cleaner_h10') %>
	        		<%= form.submit("Save", :type => 'submit', :class => 'submit') %>
	        		
	        	<% end %>
	        	
	        	<%= content_tag(:div, nil, :class => 'cleaner_h10') %>
    			
	        <% end %>
	       	
        <% end %>
		
  	<% end %>
	
<% end %>
