
<%= content_tag(:div, :id => 'rblog_header') do %>

	<%= content_tag(:div, :id => 'site_title') do %>
    	
    	<%= content_tag(:h1) do %>
    		
    		<% if session[:userId] %>
        		
        		<%= link_to(simple_format("R<strong>Blog</strong> <span>#{getUsername(session[:userId])}</span>"), {:controller => 'posts', :action => 'my_posts', :user => getUsername(session[:userId])}, :class => 'title') %>
        		
        	<% else %>
        		
        		<%= link_to(simple_format("R<strong>Blog</strong> <span>This is a blog</span>"), {:controller => 'posts', :action => 'home'}, :class => 'title') %>
        		
        	<% end %>
        	
    	<% end %>
		
	<% end %>
	
<% end %>  
