<!DOCTYPE html>

<html lang="en">
  
  <%= render 'layouts/rblog_head' %>
  
  <body>
  	
  	<%= content_tag(:div, :id => 'rblog_wrapper') do %>
		
		<%= render 'layouts/rblog_menu' %>
		    	
        <%= content_tag(:div, :id => 'rblog_left_column') do %>
    		
        	<%= render 'layouts/rblog_header' %>
        	
        	<%= content_tag(:div, :id => 'rblog_sidebar') do %>
    			
    			<% if @currentPage == 'profile' && @updateStatus == false %>
	    			
	            	<%= content_tag(:h4, link_to("MY POSTS", {:controller => 'posts', :action => 'my_posts', :user => getUsername(session[:userId])}), :class => 'links link_my_posts') %>
	            	<%= content_tag(:h4, link_to("CHANGE PASSWORD", {:controller => 'account', :action => 'change_password'}), :class => 'links link_my_posts') %>
	            	<%= content_tag(:h4, link_to("DELETE ACCOUNT", {:controller => 'account', :action => 'destroy', :user => getUsername(session[:userId]), :userId => session[:userId]}), :class => 'links link_my_posts') %>
	            	
            	<% end %>
            	
           <% end %>
            
        	<%= content_tag(:div, nil, :class => 'cleaner_h60') %>
    
    	<% end %>

  		<%= yield :body %>
  	    <%= render 'layouts/rblog_footer' %>
  	    
   	<% end %>
	
  </body>
  
</html>
