<!DOCTYPE html>
<html lang="en">
  
  <%= render 'layouts/rblog_head' %>
  
  <body>
  	
  	<div id="rblog_wrapper">
		
		<%= render 'layouts/rblog_menu' %>
		    	
        <div id="rblog_left_column">
    		
        	<%= render 'layouts/rblog_header' %>
        	
        	<div id="rblog_sidebar">
    			
    			<% if @currentPage == 'profile' && @updateStatus == false %>
	    			
	            	<h4 class='links link_my_posts'> <%= link_to("MY POSTS", {:controller => 'posts', :action => 'my_posts', :user => session[:username]}) %> </h4>
	            	<h4 class='links link_my_posts'> <%= link_to("CHANGE PASSWORD", {:controller => 'account', :action => 'change_password'}) %> </h4>
	            	<h4 class="link_my_posts links"><%= link_to("DELETE ACCOUNT", {:controller => 'account', :action => 'destroy', :userId => session[:userId]}) %> </h4>
	            	
            	<% end %>
            	
           </div> <!-- end of side bar -->
            
        	<div class="cleaner_h60"></div>
    
    	</div> <!-- end of left column -->

  		<%= yield :body %>
  	    
  	    <%= render 'layouts/rblog_footer' %>
  	    
   </div> <!-- end of wrapper -->

  </body>
  
</html>
