<!DOCTYPE html>
<html lang="en">
  
  <head>
  	
	<%= favicon_link_tag '/assets/rblog_icon.ico' %>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= yield :head %>
  	
  </head>
  
  <body>
  	
  	<div id="rblog_wrapper">
		
		<div id="rblog_menu">
        	
        	<div id="rblog_menu_account">
        		
        		<ul> <li> <%= link_to((session[:userStatus] ? session[:userStatus] : 'Log In'), {:controller => 'account', :action => (session[:userAction] ? session[:userAction] : 'login')}) %> </li> </ul>
        		
        	</div>
        	
       		<ul>
           		<li> <%= link_to("Home", {:controller => 'posts', :action => 'home'}, :id => ((@currentPage == 'home') ? 'current' : 'other')) %> </li>
           		<li> <%= link_to("Sitemap", {:controller => 'posts', :action => 'site_map'}, :id => ((@currentPage == 'site_map') ? 'current' : 'other')) %> </li>
           		<li> <%= link_to("About", {:controller => 'posts', :action => 'about'}, :id => ((@currentPage == 'about') ? 'current' : 'other')) %> </li>
           		<li> <%= link_to("Contact", {:controller => 'posts', :action => 'contact'}, :id => ((@currentPage == 'contact') ? 'current' : 'other')) %> </li>
        	</ul>
    		
    	</div> <!-- end of menu -->
    	
        <div id="rblog_left_column">
    
        	<div id="rblog_header">
        	
            	<div id="site_title">
                	
                	<h1>
                		
                		<% if session[:username] %>
	                		
	                		<%= link_to(simple_format("R<strong>Blog</strong> <span>#{session[:username]}</span>"), {:controller => 'posts', :action => 'my_posts', :user => session[:username]}, :class => 'title') %>
	                		
	                	<% else %>
	                		
	                		<%= link_to(simple_format("R<strong>Blog</strong> <span>This is a blog</span>"), {:controller => 'posts', :action => 'home'}, :class => 'title') %>
	                		
	                	<% end %>
	                	
                	</h1>
            		
            	</div> <!-- end of site title -->
            	
        	</div> <!-- end of header -->  
        	
        	<div id="rblog_sidebar">
    			
    			<% if @currentPage == 'my_posts' %>
	    			
	    			<h4 class='links link_my_posts'> <%= link_to("CREATE NEW POST", {:controller => 'posts', :action => 'new', :user => session[:username]}) %> </h4>
	                <h4 class='links link_my_posts'> <%= link_to("EDIT PROFILE", {:controller => 'account', :action => 'edit', :user => session[:username]}) %> </h4>
	               	
            	<% elsif @currentPage == 'home' %>
	            	
	            	<% if session[:username] %>
	            		
	            		<h4 class='links link_my_posts'> <%= link_to("MY POSTS", {:controller => 'posts', :action => 'my_posts', :user => session[:username]}) %> </h4>
	            		
	            	<% end %>
	            	
            		<div class="cleaner_h20"></div>
            		
	            	<h4>Authors</h4>
	            	
	            	<ul class="rblog_list">
	                	
	                	<% Account.rBlogUsers.each do |author| %>
	                		
	                		<li> <%= link_to(author, {:controller => 'posts', :action => 'home', :author => author}) %> </li>
	                		
	                	<% end %>
	                	
	            	</ul>
	            	
	            <% end %>
	            
            	<div class="cleaner_h60"></div>
            	
        	</div> <!-- end of side bar --> 
    
    	</div> <!-- end of left column -->

  		<%= yield :body %>
  	    	
		<div class="cleaner_h20"></div>
  	
  		<div id="rblog_footer">
    	
			Copyright &copy; 2016
        
    	</div>
  
   </div> <!-- end of wrapper -->

  </body>
  
</html>
