<!DOCTYPE html>
<html lang="en">
  
  <%= render 'layouts/rblog_head' %>
  
  <body>
  	
  	<div id="rblog_wrapper">
		
		<%= render 'layouts/rblog_menu' %>
		
        <div id="rblog_left_column">
    		
        	<%= render 'layouts/rblog_header' %>
        	
        	<div id="rblog_sidebar">
    			
    			<% if @currentPage == 'my_posts' %>
	    			
	    			<h4 class='links link_my_posts'> <%= link_to("CREATE NEW POST", {:controller => 'posts', :action => 'new', :user => session[:username]}) %> </h4>
	                <h4 class='links link_my_posts'> <%= link_to("EDIT PROFILE", {:controller => 'account', :action => 'edit', :user => session[:username]}) %> </h4>
	               	
            	<% elsif @currentPage == 'home' || @currentPage == 'show' %>
	            	
	            	<% if session[:username] %>
	            		
	            		<h4 class='links link_my_posts'> <%= link_to("MY POSTS", {:controller => 'posts', :action => 'my_posts', :user => session[:username]}) %> </h4>
	            		
	            	<% end %>
	            	
            		<div class="cleaner_h20"></div>
            		
	            	<h4>Authors</h4>
	            	
	            	<ul class="rblog_list">
	                	
	                	<% Account.rBlogUsers.each do |author| %>
	                		
	                		<li> <%= link_to(author, {:controller => 'posts', :action => 'home', :author => author}) %> </li>
	                		
	                	<% end %>
	                	
	            	</ul>
	            	
	            <% end %>
	            
            	<div class="cleaner_h60"></div>
            	
        	</div> <!-- end of side bar --> 
    
    	</div> <!-- end of left column -->

  		<%= yield :body %>
  	    
  	    <%= render 'layouts/rblog_footer' %>
  	    
   </div> <!-- end of wrapper -->

  </body>
  
</html>
