<!DOCTYPE html>
<html lang="en">
  
  <%= render 'layouts/rblog_head' %>
  
  <body>
  	
  	<%= content_tag(:div, :id => 'rblog_wrapper') do %>
		
		<%= render 'layouts/rblog_menu' %>
			
        <%= content_tag(:div, :id => 'rblog_left_column') do %>
    		
        	<%= render 'layouts/rblog_header' %>
        	
        	<%= content_tag(:div, :id => 'rblog_sidebar') do %>
    		
    			<% if @currentPage == 'my_posts' %>
	    			
	    			<%= content_tag(:h4, link_to("CREATE NEW POST", {:controller => 'posts', :action => 'new', :user => getUsername(session[:userId])}), :class => 'links link_my_posts') %>
	                <%= content_tag(:h4, link_to("EDIT PROFILE", {:controller => 'account', :action => 'edit', :user => getUsername(session[:userId])}), :class => 'links link_my_posts') %>
	               	
            	<% elsif @currentPage == 'home' || @currentPage == 'show' %>
	            	
	            	<%= content_tag(:h4, link_to("MY POSTS", {:controller => 'posts', :action => 'my_posts', :user => getUsername(session[:userId])}), :class => 'links link_my_posts') if session[:userId] %>
	            	<%= content_tag(:div, nil, :class => 'cleaner_h20') %>
	            	<%= content_tag(:h4, 'Authors') %>
	            	<%= content_tag(:ul, render(:partial => '/layouts/rblog_user', :collection => getRBlogUsers(), :as => :user), :class => 'rblog_list') %>
	                
	            <% end %>
	            
            	<%= content_tag(:div, nil, :class => 'cleaner_h60') %>
        		
        	<% end %> 
    
    	<% end %>

  		<%= yield :body %>
  	    <%= render 'layouts/rblog_footer' %>
  	    
   	<% end %>

  </body>
  
</html>
